<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Kind</key>
		<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
		<key>Identifier</key>
		<string>io.idevs.dt.unit.MVP</string>
		<key>Ancestors</key>
		<array>
			<string>io.idevs.dt.unit.cocoaTouchApplicationBase</string>
			<string>com.apple.dt.unit.languageChoice</string>
		</array>
		<key>Concrete</key>
		<true/>
		<key>Description</key>
		<string>This template provides a starting point for an application that uses a &quot;MVP&quot; Architecture.</string>
		<key>SortOrder</key>
		<integer>1</integer>
		<key>Options</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>languageChoice</string>
				<key>Units</key>
				<dict>
					<key>Swift</key>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Classes/Assemblys/Modules/Main/Assembly/MainAssembly.swift</string>
							<string>Classes/Assemblys/Modules/Main/Presenter/MainPresenter.swift</string>
							<string>Classes/Assemblys/Modules/Main/Contracts/MainContracts.swift</string>
							<string>Classes/Assemblys/Modules/Main/View/MainViewController.swift</string>
							<string>Classes/Assemblys/Modules/Main/Storyboards/Main.storyboard</string>
							<string>Classes/Assemblys/Coordinators/AppCoordinator/AppCoordinator.swift</string>
							<string>Classes/Assemblys/Coordinators/AppCoordinator/AppCoordinatorAssembly.swift</string>
							<string>Classes/Assemblys/Coordinators/AppCoordinator/AppCoordinatorType.swift</string>
							<string>Classes/Assemblys/Coordinators/MainCoordinator/MainCoordinator.swift</string>
							<string>Classes/Assemblys/Coordinators/MainCoordinator/MainCoordinatorAssembly.swift</string>
							<string>Classes/Assemblys/Coordinators/MainCoordinator/MainCoordinatorType.swift</string>
							<string>Classes/Assemblys/Services/AppConfigService/AppConfigService.swift</string>
							<string>Classes/Assemblys/Services/AppConfigService/AppConfigServiceAssembly.swift</string>
							<string>Classes/Assemblys/Services/AppConfigService/AppConfigServiceType.swift</string>
							<string>Classes/Assemblys/Services/EnvironmentService/EnvironmentService.swift</string>
							<string>Classes/Assemblys/Services/EnvironmentService/EnvironmentServiceAssembly.swift</string>
							<string>Classes/Assemblys/Services/EnvironmentService/EnvironmentServiceType.swift</string>
							<string>Classes/AppDelegate/AppDelegate.swift</string>
							<string>Classes/AppDelegate/Services/ApplicationService.swift</string>
							<string>Classes/Common/Module/Module.swift</string>
							<string>Classes/Common/ActionCloud/ActionCloud.swift</string>
							<string>Classes/Common/AppDelegateManager/AppDelegateManager.swift</string>
							<string>Classes/Common/Coordinator/LaunchInstructor.swift</string>
							<string>Classes/Common/Coordinator/BaseCoordinator.swift</string>
							<string>Classes/Common/Coordinator/CoordinatorType.swift</string>
							<string>Classes/Common/DeepLink/DeepLinkOption.swift</string>
							<string>Classes/Common/Protocols/AlertCoordinable.swift</string>
							<string>Classes/Common/Protocols/Presentable.swift</string>
							<string>Classes/Common/Router/Router.swift</string>
							<string>Classes/Common/Router/RouterType.swift</string>
							<string>Classes/Common/View/ContainerView/ContainerView.swift</string>
							<string>Classes/Common/View/ViewBuilder/ViewBuilder.swift</string>
							<string>Classes/Constants/Constants.swift</string>
							<string>Classes/Extensions/Codable/Codable+Ext.swift</string>
							<string>Classes/Extensions/Collection/Array+Ext.swift</string>
							<string>Classes/Extensions/Color/UIColor+Ext.swift</string>
							<string>Classes/Extensions/Date/Data+Ext.swift</string>
							<string>Classes/Extensions/FileManager/FileManager+Ext.swift</string>
							<string>Classes/Extensions/NSObject/NSObject+Ext.swift</string>
							<string>Classes/Extensions/Numbers/Int+Ext.swift</string>
							<string>Classes/Extensions/String/String+Ext.swift</string>
							<string>Classes/Extensions/URL/URL+Ext.swift</string>
							<string>Classes/Extensions/View/UICollectionView+Ext.swift</string>
							<string>Classes/Extensions/View/UIImage+Ext.swift</string>
							<string>Classes/Extensions/View/UIImageView+Ext.swift</string>
							<string>Classes/Extensions/View/UILabel+Ext.swift</string>
							<string>Classes/Extensions/View/UINavigationController+Ext.swift</string>
							<string>Classes/Extensions/View/UIScrollView+Ext.swift</string>
							<string>Classes/Extensions/View/UITabBar+Ext.swift</string>
							<string>Classes/Extensions/View/UITableView+Ext.swift</string>
							<string>Classes/Extensions/View/UIView+Ext.swift</string>
							<string>Classes/Extensions/View/UIViewController+Ext.swift</string>
							<string>Classes/Extensions/View/UIWindow+Ext.swift</string>
							<string>Classes/Library/Swilby/Assembly.swift</string>
							<string>Classes/Library/Swilby/AssemblyFactory.swift</string>
							<string>Classes/Library/Swilby/DependencyContainer.swift</string>
							<string>Classes/Library/Swilby/ObjectKey.swift</string>
							<string>Classes/Library/Swilby/StrongBox.swift</string>
							<string>Classes/Library/Swilby/WeakBox.swift</string>
							<string>Classes/Library/Swilby/WeakContainer.swift</string>
							<string>Classes/Utils/Tweaks/DeviceTweak.swift</string>
							<string>Classes/Utils/Tweaks/ThreadTweak.swift</string>
							<string>Classes/Utils/Tweaks/UtilsTweak.swift</string>
							<string>../Podfile</string>
						</array>
					</dict>
				</dict>
			</dict>
		</array>
		<key>Definitions</key>
		<dict>
			<key>Classes/Assemblys/Modules/Main/Assembly/MainAssembly.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Modules</string>
					<string>Main</string>
					<string>Assembly</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Modules/Main/Assembly/MainAssembly.swift</string>
			</dict>
			<key>Classes/Assemblys/Modules/Main/Presenter/MainPresenter.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Modules</string>
					<string>Main</string>
					<string>Presenter</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Modules/Main/Presenter/MainPresenter.swift</string>
			</dict>
			<key>Classes/Assemblys/Modules/Main/Contracts/MainContracts.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Modules</string>
					<string>Main</string>
					<string>Contracts</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Modules/Main/Contracts/MainContracts.swift</string>
			</dict>
			<key>Classes/Assemblys/Modules/Main/View/MainViewController.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Modules</string>
					<string>Main</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Modules/Main/View/MainViewController.swift</string>
			</dict>
			<key>Classes/Assemblys/Modules/Main/Storyboards/Main.storyboard</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Modules</string>
					<string>Main</string>
					<string>Storyboards</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Modules/Main/Storyboards/Main.storyboard</string>
			</dict>
			<key>Classes/Assemblys/Coordinators/AppCoordinator/AppCoordinator.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Coordinators</string>
					<string>AppCoordinator</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Coordinators/AppCoordinator/AppCoordinator.swift</string>
			</dict>
			<key>Classes/Assemblys/Coordinators/AppCoordinator/AppCoordinatorAssembly.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Coordinators</string>
					<string>AppCoordinator</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Coordinators/AppCoordinator/AppCoordinatorAssembly.swift</string>
			</dict>
			<key>Classes/Assemblys/Coordinators/AppCoordinator/AppCoordinatorType.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Coordinators</string>
					<string>AppCoordinator</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Coordinators/AppCoordinator/AppCoordinatorType.swift</string>
			</dict>
			<key>Classes/Assemblys/Coordinators/MainCoordinator/MainCoordinator.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Coordinators</string>
					<string>MainCoordinator</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Coordinators/MainCoordinator/MainCoordinator.swift</string>
			</dict>
			<key>Classes/Assemblys/Coordinators/MainCoordinator/MainCoordinatorAssembly.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Coordinators</string>
					<string>MainCoordinator</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Coordinators/MainCoordinator/MainCoordinatorAssembly.swift</string>
			</dict>
			<key>Classes/Assemblys/Coordinators/MainCoordinator/MainCoordinatorType.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Coordinators</string>
					<string>MainCoordinator</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Coordinators/MainCoordinator/MainCoordinatorType.swift</string>
			</dict>
			<key>Classes/Assemblys/Services/AppConfigService/AppConfigService.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Services</string>
					<string>AppConfigService</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Services/AppConfigService/AppConfigService.swift</string>
			</dict>
			<key>Classes/Assemblys/Services/AppConfigService/AppConfigServiceAssembly.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Services</string>
					<string>AppConfigService</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Services/AppConfigService/AppConfigServiceAssembly.swift</string>
			</dict>
			<key>Classes/Assemblys/Services/AppConfigService/AppConfigServiceType.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Services</string>
					<string>AppConfigService</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Services/AppConfigService/AppConfigServiceType.swift</string>
			</dict>
			<key>Classes/Assemblys/Services/EnvironmentService/EnvironmentService.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Services</string>
					<string>EnvironmentService</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Services/EnvironmentService/EnvironmentService.swift</string>
			</dict>
			<key>Classes/Assemblys/Services/EnvironmentService/EnvironmentServiceAssembly.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Services</string>
					<string>EnvironmentService</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Services/EnvironmentService/EnvironmentServiceAssembly.swift</string>
			</dict>
			<key>Classes/Assemblys/Services/EnvironmentService/EnvironmentServiceType.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Assemblys</string>
					<string>Services</string>
					<string>EnvironmentService</string>
				</array>
				<key>Path</key>
				<string>Classes/Assemblys/Services/EnvironmentService/EnvironmentServiceType.swift</string>
			</dict>
			<key>Classes/AppDelegate/AppDelegate.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>AppDelegate</string>
				</array>
				<key>Path</key>
				<string>Classes/AppDelegate/AppDelegate.swift</string>
			</dict>
			<key>Classes/AppDelegate/Services/ApplicationService.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>AppDelegate</string>
					<string>Services</string>
				</array>
				<key>Path</key>
				<string>Classes/AppDelegate/Services/ApplicationService.swift</string>
			</dict>
			<key>Classes/Common/Module/Module.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>Module</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/Module/Module.swift</string>
			</dict>
			<key>Classes/Common/ActionCloud/ActionCloud.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>ActionCloud</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/ActionCloud/ActionCloud.swift</string>
			</dict>
			<key>Classes/Common/AppDelegateManager/AppDelegateManager.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>AppDelegateManager</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/AppDelegateManager/AppDelegateManager.swift</string>
			</dict>
			<key>Classes/Common/Coordinator/LaunchInstructor.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>Coordinator</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/Coordinator/LaunchInstructor.swift</string>
			</dict>
			<key>Classes/Common/Coordinator/BaseCoordinator.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>Coordinator</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/Coordinator/BaseCoordinator.swift</string>
			</dict>
			<key>Classes/Common/Coordinator/CoordinatorType.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>Coordinator</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/Coordinator/CoordinatorType.swift</string>
			</dict>
			<key>Classes/Common/DeepLink/DeepLinkOption.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>DeepLink</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/DeepLink/DeepLinkOption.swift</string>
			</dict>
			<key>Classes/Common/Protocols/AlertCoordinable.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>Protocols</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/Protocols/AlertCoordinable.swift</string>
			</dict>
			<key>Classes/Common/Protocols/Presentable.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>Protocols</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/Protocols/Presentable.swift</string>
			</dict>
			<key>Classes/Common/Router/Router.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>Router</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/Router/Router.swift</string>
			</dict>
			<key>Classes/Common/Router/RouterType.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>Router</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/Router/RouterType.swift</string>
			</dict>
			<key>Classes/Common/View/ContainerView/ContainerView.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>View</string>
					<string>ContainerView</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/View/ContainerView/ContainerView.swift</string>
			</dict>
			<key>Classes/Common/View/ViewBuilder/ViewBuilder.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Common</string>
					<string>View</string>
					<string>ViewBuilder</string>
				</array>
				<key>Path</key>
				<string>Classes/Common/View/ViewBuilder/ViewBuilder.swift</string>
			</dict>
			<key>Classes/Constants/Constants.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Constants</string>
				</array>
				<key>Path</key>
				<string>Classes/Constants/Constants.swift</string>
			</dict>
			<key>Classes/Extensions/Codable/Codable+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>Codable</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/Codable/Codable+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/Collection/Array+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>Collection</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/Collection/Array+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/Color/UIColor+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>Color</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/Color/UIColor+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/Date/Data+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>Date</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/Date/Data+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/FileManager/FileManager+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>FileManager</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/FileManager/FileManager+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/NSObject/NSObject+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>NSObject</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/NSObject/NSObject+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/Numbers/Int+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>Numbers</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/Numbers/Int+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/String/String+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>String</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/String/String+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/URL/URL+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>URL</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/URL/URL+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UICollectionView+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UICollectionView+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UIImage+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UIImage+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UIImageView+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UIImageView+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UILabel+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UILabel+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UINavigationController+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UINavigationController+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UIScrollView+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UIScrollView+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UITabBar+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UITabBar+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UITableView+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UITableView+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UIView+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UIView+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UIViewController+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UIViewController+Ext.swift</string>
			</dict>
			<key>Classes/Extensions/View/UIWindow+Ext.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Extensions</string>
					<string>View</string>
				</array>
				<key>Path</key>
				<string>Classes/Extensions/View/UIWindow+Ext.swift</string>
			</dict>
			<key>Classes/Library/Swilby/Assembly.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Library</string>
					<string>Swilby</string>
				</array>
				<key>Path</key>
				<string>Classes/Library/Swilby/Assembly.swift</string>
			</dict>
			<key>Classes/Library/Swilby/AssemblyFactory.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Library</string>
					<string>Swilby</string>
				</array>
				<key>Path</key>
				<string>Classes/Library/Swilby/AssemblyFactory.swift</string>
			</dict>
			<key>Classes/Library/Swilby/DependencyContainer.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Library</string>
					<string>Swilby</string>
				</array>
				<key>Path</key>
				<string>Classes/Library/Swilby/DependencyContainer.swift</string>
			</dict>
			<key>Classes/Library/Swilby/ObjectKey.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Library</string>
					<string>Swilby</string>
				</array>
				<key>Path</key>
				<string>Classes/Library/Swilby/ObjectKey.swift</string>
			</dict>
			<key>Classes/Library/Swilby/StrongBox.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Library</string>
					<string>Swilby</string>
				</array>
				<key>Path</key>
				<string>Classes/Library/Swilby/StrongBox.swift</string>
			</dict>
			<key>Classes/Library/Swilby/WeakBox.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Library</string>
					<string>Swilby</string>
				</array>
				<key>Path</key>
				<string>Classes/Library/Swilby/WeakBox.swift</string>
			</dict>
			<key>Classes/Library/Swilby/WeakContainer.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Library</string>
					<string>Swilby</string>
				</array>
				<key>Path</key>
				<string>Classes/Library/Swilby/WeakContainer.swift</string>
			</dict>
			<key>Classes/Utils/Tweaks/DeviceTweak.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Utils</string>
					<string>Tweaks</string>
				</array>
				<key>Path</key>
				<string>Classes/Utils/Tweaks/DeviceTweak.swift</string>
			</dict>
			<key>Classes/Utils/Tweaks/ThreadTweak.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Utils</string>
					<string>Tweaks</string>
				</array>
				<key>Path</key>
				<string>Classes/Utils/Tweaks/ThreadTweak.swift</string>
			</dict>
			<key>Classes/Utils/Tweaks/UtilsTweak.swift</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Classes</string>
					<string>Utils</string>
					<string>Tweaks</string>
				</array>
				<key>Path</key>
				<string>Classes/Utils/Tweaks/UtilsTweak.swift</string>
			</dict>
			<key>../Podfile</key>
			<dict>
				<key>Group</key>
				<array>
					<string>Supporting Files</string>
				</array>
				<key>Path</key>
				<string>Podfile</string>
			</dict>
		</dict>
	</dict>
</plist>
